.tezt
{
  font-size: 10mm;
  text-align-last: center;
  background-image: -moz-repeating-radial-gradient();
  text-decoration: underline;
}
.ba
{
  font-family: cursive;
  color: #125;
  font-size: 10mm;
}
.nota
{
  font-family:'Times New Roman', Times, serif;
  color: #125;
  font-size: 10mm;
}
.nota_digitada{
  font-size: 10mm;
}